html {
    position: relative;
    min-height: 100%;
    font-size: 10px;
}
body {
    margin: 0 0 100px;
    padding: 25px;
}
h1, h2, h3, h4 {
    font-weight: 100;
}
h1, h2, h3 {
    font-family: 'Playfair Display SC', serif; 
}
h4 {
    font-family: 'Playfair Display', serif; 
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
h1 { font-size: 6em; }
h2 { font-size: 3em; }
h3 { font-size: 3em; }
h4 { font-size: 1.5em; }
main span { font-size: 75%; }
.name {
    h1 { line-height: 80%; }
    h3 { line-height: 70%; }
}
 // navigation 
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    @include break(0, 450px) {
        & {padding-top: 15px;}
    }
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        @include break(0, 450px) {
            & {font-size: 18px;}
        }
        &:hover {
            color: #f1f1f1;
        }
        &.closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
    
}
#burger {
    font-size: 5rem;
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5rem 3rem;
}
.name {
    display: flex;
    justify-content: center;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 3rem 4rem;
    }
    img {
        display: none;
        @include break(800px) {
            display: inherit;
            align-self: flex-end;
            width: 370px;
        }
    }
}
.products {
    margin: 8rem 3rem;
    grid-row-gap: 6rem;
    justify-items: center;
    a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    a:hover {
        text-decoration: underline;
    }
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 4rem;
    @include break(500px) {
        a {
            margin: 0 1.2rem;
        }
    }
}
.product-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    @include break(500px) {
        flex-direction: row;
        justify-content: center;
        article {
            max-width: 370px;
            margin-left: 3rem;
        }
    }
    form {
        margin-top: 2rem;
    }
}
input[type=image] {
    outline: none;
    border: none;
}
